<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Keywords" content="social, plantszone, marketplace, plant, gardening, social site, Aroid, Bonsai, Aquascape, Succulent, Ornamental Plant ,Indoor plant, Garden, Philodendron, Anthurium, Caladium, Alocasia,Begonia, Npark, Singapore garden festival, Singapore plant, Singapore garden, Singapore gardener, Botanic garden, Pesticides, Fungicides, Import plant to Singapore, Carousell plant, Shopee plant, Lazads plant, Cactus, Syngonium, Fruit tree, Mosquito repellent plants, Hoya, Terrarium plant, Jungle plant, Labisia, Ardisia, Staghorn fern, Platycerium, Fern, Homalomena, Watering plant, Indirect sunlight plant"/>
  <title>PlantsZone</title>
  <%- include('./metaimg'); -%>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./style.css?v=8">
  <link rel="stylesheet" href="./font/pacifico.css">
  <link rel="stylesheet" href="./slick/slick.css">
  <link rel="stylesheet" href="./slick/slick-theme.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="./iw-pos.js" type="text/javascript" charset="utf-8"></script>
  <script src="./routemap.js" type="text/javascript" charset="utf-8"></script>
  <script src="./helper.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="./slick/slick.js"></script>
</head>
<body>
  <noscript id="data"><%= data %></noscript>
  <div id="app">
    
  </div>
  <script src="./pages/page.js?v=<%= 'pages-'+Date.now(); %>" type="module" charset="utf-8"></script>
</body>
</html>